::-webkit-scrollbar {
    width: 0;
  }

body {
    background-image: url(../background.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upper_button {
    margin-top: 9px;
    margin-left: 12px;
}

.button {
    border: 0;
    background: coral;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    width: 48px;
    outline: none;
    color: black;
    font-size: medium;
    border-radius: 24px;
    transition: 0.5s;
    cursor: pointer;
    position: absolute;
}

.button:hover {
    background: lightgreen;
}

.form h1{
    margin: 30px 100px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}

.input-form {
    margin: 15px 40px;
    text-align: center;
}

.input-form input,.input-form select {
    padding: 10px;
    width: 100%;
    color: black;
    font-size: 20px;
    outline: none;
    border: 1px solid black;
    box-sizing: border-box;
}

.input-form input[type="text"]:focus .input-form input[type="password"]:focus{
    border: 1px solid coral;
}

.sign_up {
    border: 0;
    background: coral;
    display: block;
    margin: 20px auto;
    text-align: center;
    outline: none;
    color: black;
    font-size: medium;
    border-radius: 24px;
    transition: 0.5s;
    cursor: pointer;
}

.input-form a {
    text-decoration: none;
    color: white;
}

.nav_button {
    border: 0;
    background: coral;
    text-align: center;
    margin: 20px auto;
    padding: 14px 40px;
    width: 48px;
    outline: none;
    color: black;
    font-size: medium;
    border-radius: 24px;
    transition: 0.5s;
    cursor: pointer;
}

.nav_bar {
   display: flex;
   justify-content: center;
}

h4 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: white;
}

.main_primary {
    display: flex;
    justify-content: center;
}

.main_primary_list li {
    margin: 20px;
    list-style: none;
    font-size: 19px;
    color: white;
    background-color: rgb(129, 129, 129);
    border-radius: 20px;
    padding: 15px;
}

.main_secondary {
        display: flex;
        justify-content: center;
}

.main_secondary_list {
    padding-left: 0px;
}

.main_secondary_list li {
    margin: 20px;
    list-style: none;
    font-size: 19px;
    width: fit-content;
    color: white;
    background-color: rgb(129, 129, 129);
    border-radius: 20px;
    padding: 15px;
}

.nav_button a{
    text-decoration: none;
    color: black;
}

.nav_button:hover{
    background-color: #2ecc71;
    color: white;
}

li:hover {
    background-color:rgb(88, 88, 88);
}

.select {
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
}



.select select {
    display: block;
    width: 80%;
    padding: .75rem 2.5rem .75rem 1rem;
    background: none;
    border: 3px solid gold;
    border-radius: 3px;
    -webkit-appearance: none;
    appearance: none;

    font-family: inherit;
    font-size: 1rem;
    color: #444;
}

.select select:focus {
    outline: 0;
    border-color: #0891e6;
}

.big_button {
    border: 0;
    background: coral;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    width:fit-content;
    outline: none;
    color: black;
    font-size: medium;
    border-radius: 24px;
    transition: 0.5s;
    cursor: pointer;
    position: absolute;
}

.big_button:hover {
    background-color: #2ecc71;
}

.big_button a{
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

.nav_button:hover {
    color: white;
}

.main_red {
    display: flex;
    justify-content: center;
    background-color: rgb(155, 38, 38);
    width: 32.5%;
    margin-left: 35%;
}

.main_red_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    margin: 0;
}

